
<div class="sidebar">
  <ul class="nav nav-pills nav-stacked" role="tablist" id="myPill">
    <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab"><span class="icon-home lgIcon" aria-hidden="true"></span><br />Mon tableau de bord</a></li>
    <li role="presentation"><a href="#2" role="tab" data-toggle="tab"><span class="icon-wa-infomarche lgIcon" aria-hidden="true"></span><br />Analyser la performance</a></li>
    <li role="presentation"><a href="#3" role="tab" data-toggle="tab"><span class="icon-calendar lgIcon" aria-hidden="true"></span><br />Prévoir et planifier</a></li>

    <li role="presentation">
      <a href="#" class="droptab4" data-toggle="collapse" data-target="#submenu-1"><span class="icon-niveau lgIcon" aria-hidden="true"></span> <br /> Superviser les activités du jour <i class="fa fa-fw fa-angle-down pull-right"></i></a>
      <ul id="submenu-1" class="collapse" style="text-align: left; padding-left: 5px">
        <li role="presentation" style="height: 35px"><a href="#40" role="tab" data-toggle="tab">Synthèse</a></li>
          <li role="presentation" style="height: 35px"><a href="#41" role="tab" data-toggle="tab">Accueil physique et téléphonique</a></li>
          <li role="presentation" style="height: 35px" style="height: 25px"><a href="#42" role="tab" data-toggle="tab">Flux entrants à réponse différée</a></li>
          <li role="presentation" style="height: 35px"><a href="#43" role="tab" data-toggle="tab">Indemnisation</a></li>
          <li role="presentation" style="height: 35px"><a href="#" role="tab" data-toggle="tab">Suivi et accompagnement</a></li>
          <li role="presentation" style="height: 35px" style="height: 25px"><a href="#" role="tab" data-toggle="tab">Formation</a></li>
          <li role="presentation" style="height: 35px"><a href="#" role="tab" data-toggle="tab">Entreprise</a></li>
      </ul>
    </li>

    <li role="presentation" >
      <a href="#" class="droptab5" data-toggle="collapse" data-target="#submenu-2"><span class="icon-wa-loupe lgIcon" aria-hidden="true"></span> <br /> Suivre les activités realisées <i class="fa fa-fw fa-angle-down pull-right"></i></a>
      <ul id="submenu-2" class="collapse" style="text-align: left; padding-left: 5px">
        <li role="presentation" style="height: 35px"><a href="#50" role="tab" data-toggle="tab">Synthèse</a></li>
          <li role="presentation" style="height: 35px"><a href="#51" role="tab" data-toggle="tab">Accueil physique et téléphonique</a></li>
          <li role="presentation" style="height: 35px"><a href="#52" role="tab" data-toggle="tab">Flux entrants à réponse différée</a></li>
          <li role="presentation" style="height: 35px"><a href="#53" role="tab" data-toggle="tab">Indemnisation</a></li>
          <li role="presentation" style="height: 35px"><a href="#" role="tab" data-toggle="tab">Suivi et accompagnement</a></li>
          <li role="presentation" style="height: 35px" style="height: 25px"><a href="#" role="tab" data-toggle="tab">Formation</a></li>
          <li role="presentation" style="height: 35px"><a href="#" role="tab" data-toggle="tab">Entreprise</a></li>
      </ul>
    </li>

  </ul>
</div>
