<div class="tab-header"><h4><strong>Analyser la performance</strong></h4></div>
<div class="tab-body tab2">
  <div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h5 style="color: #595959; margin-bottom: 15px;"><strong>Feuille de route et dialogue de performance</strong></h5>
        <div class="thumbnail">
          <div class="caption">
            <h5 style="display: inline-block; margin-right: 5px; float: left"><strong>Feuille de route marseille Belle de mai.doc</strong></h5>
            <a href="#" style=" margin-right: 10px;"><span class="icon-pen" aria-hidden="true"></span></a>
            <a href="#" style=" margin-right: 25%;"><span class="icon-plus-close" aria-hidden="true"></span></a>
            <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><h5 style="display: inline-block;"><strong><u>Outil de négociation des cibles</u></strong></h5></a>
            <h5 style="float: right;">
              <a href="#">
                <span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Actu DDP</u></strong>
              </a>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h5 style="color: #595959; margin-bottom: 15px; float: left"><strong>Les indicateurs prioritaires de l'agence</strong></h5>

        <div style="float: right">
          <span><strong>Modifier l'affichage</strong></span>
          <button type="button" style="background-color: transparent" class="btn" data-toggle="modal" data-target=".bs-example-modal-lg">
            <span class="icon-cron" style="margin-left: 5px" aria-hidden="true"></span>
          </button>

          <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div style="margin-top: 100px; margin-left: 25%; margin-right: 25%;" class="modal-dialog" role="document">
              <div style="border-radius: 8px" class="modal-content modal-lg">
                <div style="padding: 15px">
                  <div class="caption">
                    <strong>Modification des indicateurs prioritaires de l'agence</strong>
                    <p>Choisissez les indicateurs que vous souhaitez partager prioritairement avec toute l'agence
                    <br /> (3 au minimum et 5 au maximum)</p>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      ICT 01 - Nombre de retours à l'emploi sur 12 mois
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                      ICT 03 - Nombre de demandeurs d'emploi restés 12 mois en catégorie A pendant les derniers mois.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                      ICT 04 - Taux d'accès à l'emploi durable 6 mois après la fin d'une formation prescrite par Pole Emploi.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">
                      ICT 04bis - Taux d'accès à l'emploi 6 mois après la fin d'une formation prescrite par Pole Emploi.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                    <label class="form-check-label" for="defaultCheck5">
                      ICT 05 - Taux de satisfaction des demandeurs d'emploi concernant le suivi dont ils bénéficient.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                    <label class="form-check-label" for="defaultCheck6">
                      ICT 06 - Nombre de demandeurs d'emploi en accompagnement intensif.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                    <label class="form-check-label" for="defaultCheck7">
                      ICT 07 - Taux de 1er paiement dans les délais.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                    <label class="form-check-label" for="defaultCheck8">
                      ICT 08 - Taux de conformité du traitement de la demande d'allocation avec incidence financière DAL AC hors A8 A10.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                    <label class="form-check-label" for="defaultCheck9">
                      ICT 09 - Taux de satisfaction des demandeurs d'emploi concernant les informations sur les sujets liés aux allocations.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                    <label class="form-check-label" for="defaultCheck10">
                      ICT 10 - Part des offres en accompagnement satisfaites par Pole Emploi.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
                    <label class="form-check-label" for="defaultCheck11">
                      ICT 11 - Part des offres en accompagnement satisfaites par le placement d'un demandeur d'emploi.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
                    <label class="form-check-label" for="defaultCheck12">
                      ICT 12 - Taux de satisfaction concernant le traitement de la dernière opération de recrutement par Pole Emploi.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
                    <label class="form-check-label" for="defaultCheck13">
                      ICT 14 - Temps consacré au suivi et à l'accompagnement personnalisé des demandeurs d'emploi.
                    </label>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulé</button>
                    <button type="button" class="btn">Validé</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="thumbnail" style="padding: 15px; clear: both">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="thumbnail" style="box-shadow: none; background: linear-gradient(141deg, rgba(115,176,255,1) 0%, rgba(156,230,239,0.7441351540616247) 100%);">
                <div class="caption">
                  <strong>ICT5 - Taux de satisfaction des demandeurs d'emploi concernant le suivi dont ils bénéficient</strong>
                </div>
                <div style="text-align: center"><span style="font-size: 50px"><u><strong>87%</strong></u></span><p>(Période: Octobre 2019)</p></div>
                <div class="caption"><a href="#"><strong>Indicateurs d'éclairage</strong><span class="icon-plus-circled" style="margin-left: 5px" aria-hidden="true"></span></a></div>
                <div class="caption">
                  <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Voir la carte heuristique</u></strong></a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="thumbnail" style="box-shadow: none; background: linear-gradient(320deg,#fce4ed,#ffe8cc)">
                <div class="caption">
                  <strong>ICT7 - Taux des premiers paiements dans les délais</strong>
                </div>
                <div style="text-align: center"><span style="font-size: 50px"><u><strong>88%</strong></u></span><p>(Période: Octobre 2019)</p></div>
                <div class="caption"><a href="#"><strong>Indicateurs d'éclairage</strong><span class="icon-plus-circled" style="margin-left: 5px" aria-hidden="true"></span></a></div>
                <div class="caption">
                  <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Voir la carte heuristique</u></strong></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="thumbnail" style="box-shadow: none; background: linear-gradient(320deg,#fce4ed,#ffe8cc)">
                <div class="caption">
                  <strong>ICT9 - Taux de satisfaction concerntant les informations obtenues sur les sujets liés à l'indemnisation</strong>
                </div>
                <div style="text-align: center"><span style="font-size: 50px"><u><strong>91%</strong></u></span><p>(Période: Octobre 2019)</p></div>
                <div class="caption"><a href="#"><strong>Indicateurs d'éclairage</strong><span class="icon-plus-circled" style="margin-left: 5px" aria-hidden="true"></span></a></div>
                <div class="caption">
                  <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Voir la carte heuristique</u></strong></a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="thumbnail" style="box-shadow: none; background: linear-gradient(141deg, rgba(115,176,255,1) 0%, rgba(156,230,239,0.7441351540616247) 100%);">
                <div class="caption">
                  <strong>ICT9 - Taux de satisfaction concerntant les informations obtenues sur les sujets liés à l'indemnisation</strong>
                </div>
                <div style="text-align: center"><span style="font-size: 50px"><u><strong>91%</strong></u></span><p>(Période: Octobre 2019)</p></div>
                <div class="caption"><a href="#"><strong>Indicateurs d'éclairage</strong><span class="icon-plus-circled" style="margin-left: 5px" aria-hidden="true"></span></a></div>
                <div class="caption">
                  <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Voir la carte heuristique</u></strong></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="caption" style="text-align: right">
              <a href="css/gfx/SISP.png" target="_blank"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Accéder au portail Sisp</u></strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h5><strong>Plans d'actions</strong></h5>
            <p>
              <a href="#">
                <span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Voir les plans d'actions</u></strong>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
