<div class="container-fluid">
  <div class="row">
    <div class="tab-header">
      <h1 class="tab-title">Superviser les activités du jour<span class="secondary"> - Synthèse</span></h1>
    </div>
  </div>
    <div class="row display-flex">
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <a href="#" ><p class="full-width"><strong>Accueil physique et téléphonique</strong><span class="icon-chevron-right lgIcon float-right"></span></p></a>
          </div>
            <div class="thumbnail thumbnail-grey">
              <div class="row">
                <div class="col-sm-7 col-md-7">
                  <div class="thumbnail">
                    <div class="caption "><strong>Ressources</strong></div>
                    <div class="row">
                      <div class="col-sm-6 col-md-6">
                        <span class="icon-user lgIcon" aria-hidden="true"></span>
                        <span class="font-m primary"><strong>10</strong></span>
                      </div>
                      <div class="col-sm-6 col-md-6">
                        <span class="icon-calendar lgIcon" aria-hidden="true"></span>
                        <span class="font-m primary"><strong>12</strong></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5 col-md-5">
                  <div class="thumbnail">
                    <div class="caption "><strong>AIC</strong></div>
                    <div class="row">
                      <div class="col-sm-3 col-md-3">
                        <p class="font-m"><strong>25</strong></p>
                      </div>
                      <div class="col-sm-9 col-md-9">
                        <p>Personnes reçues</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="thumbnail">
                    <div class="caption "><strong>ARC Indemnisation</strong></div>
                    <div class="row">
                      <div class="col-sm-6 col-md-6">
                        <p><span class="font-m"><strong>3:47</strong></span> attente moyenne</p>
                      </div>
                      <div class="col-sm-6 col-md-6">
                        <p><span class="font-m"><strong>12</strong></span> personnes en attente</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="thumbnail-body">
                  <table class="table table-striped text-center white">
                    <thead>
                      <tr>
                        <td><strong>Accueil téléphonique</strong></td>
                        <td><strong>Attente moyenne</strong></td>
                        <td><strong>Personnes en attente</strong></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong>3949</strong> - file indemnisation</td>
                        <td><strong>3:47</strong></td>
                        <td><strong>7</strong></td>
                      </tr>
                      <tr>
                        <td><strong>3949</strong> - file emploi et formation</td>
                        <td><strong>2:40</strong></td>
                        <td><strong>3</strong></td>
                      </tr>
                      <tr>
                        <td><strong>3995</strong> - file recrutement</td>
                        <td><strong>0:40</strong></td>
                        <td><strong>1</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail thbnlHeight">
          <div class="caption">
            <a href="#" ><p class="full-width"><strong>Flux entrants à réponse différée</strong><span class="icon-chevron-right lgIcon float-right"></span></p></a>
          </div>
            <div class="thumbnail" style="margin-top: 10%;box-shadow: none; background-color: #F2F2F2">
              <div class="thumbnail" style="padding: 15px; background: linear-gradient(141deg, rgba(66,217,216,1) 0%, rgba(60,236,180,0.7413340336134453) 100%);">
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <div class="caption "><strong>Message vocaux sur flux téléphonique - MEVO</strong></div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>25</strong></span> En stock</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <div class="caption "><strong>Fiches Escalade</strong></div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>115</strong></span> En stock</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>17</strong></span> Non affectées</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <div class="caption "><strong>Courriel employeur - EPTICA</strong></div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>134</strong></span> En stock</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>37</strong></span> Non affectées</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <div class="caption "><strong>Réclamations DE</strong></div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>245</strong></span> En stock</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>82</strong></span> Non affectées</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail thbnlHeight">
          <div class="caption">
            <a href="#" ><p style="width: 100%; "><strong>Indemnisation</strong><span class="icon-chevron-right lgIcon" style="float: right"></span></p></a>
          </div>
          <div style="padding: 5px">
            <div class="thumbnail" style="margin-top: 12%; box-shadow: none; background-color: #F2F2F2">
              <div class="row">
                <div class="col-sm-7 col-md-7">
                  <div class="thumbnail">
                    <div class="caption "><strong>Ressources</strong></div>
                    <div class="row">
                      <div class="col-sm-6 col-md-6">
                        <span style="margin-left: 5px" class="icon-user lgIcon" aria-hidden="true"></span>
                        <span style="font-size: 18px; margin-left: 5px; color: #0072ed"><strong>17</strong></span>
                      </div>
                      <div class="col-sm-6 col-md-6">
                        <span class="icon-calendar lgIcon" aria-hidden="true"></span>
                        <span style="font-size: 18px; margin-left: 5px; color: #0072ed"><strong>23</strong></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="thumbnail" style="padding: 15px; background: linear-gradient(141deg, rgba(157,208,254,1) 0%, rgba(60,236,180,0.738532913165266) 100%);">
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <div class="caption "><strong>Traitements de dossiers</strong></div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>470</strong></span> En stock</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>35</strong></span> Réalisés</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <div class="caption "><strong>Affectation de dossiers</strong></div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>15</strong></span> En stock</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>5</strong></span> Réalisés</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <div class="caption "><strong>Validation de paiements</strong></div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>7</strong></span> En stock</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>27</strong></span> Réalisés</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row display-flex">
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail thbnlHeight">
          <div class="caption">
            <a href="#" ><p style="width: 100%; "><strong>Suivi et accompagnement</strong><span class="icon-chevron-right lgIcon" style="float: right"></span></p></a>
          </div>
          <div style="padding: 5px">
            <div class="thumbnail" style="margin-top: 15%;box-shadow: none; background-color: #F2F2F2">
              <div class="caption thumbnailCaption"><strong>Demandeurs d'emploi en suivi ou accompagnement dans l'agence</strong></div>
              <div class="row">
                <div style="padding: 15px">
                  <table class="table table-striped" style="background-color: #fff; text-align: center; font-size: 11px ">
                    <thead>
                      <tr>
                        <td><strong>Type de portefeuille</strong></td>
                        <td><strong>Nbr de portefeuille</strong></td>
                        <td><strong>Nbr de DE en portefeuille</strong></td>
                        <td><strong>Nbr de DE à effectuer</strong></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong>10</strong></td>
                        <td><strong>4</strong></td>
                        <td><strong>4850</strong></td>
                        <td><strong>183</strong></td>
                      </tr>
                      <tr>
                        <td><strong>8</strong></td>
                        <td><strong>7</strong></td>
                        <td><strong>1780</strong></td>
                        <td><strong>101</strong></td>
                      </tr>
                      <tr>
                        <td><strong>12</strong></td>
                        <td><strong>3</strong></td>
                        <td><strong>1800</strong></td>
                        <td><strong>120</strong></td>
                      </tr>
                      <tr>
                        <td><strong>5</strong></td>
                        <td><strong>2</strong></td>
                        <td><strong>250</strong></td>
                        <td><strong>0</strong></td>
                      </tr>
                      <tr>
                        <td><strong>AU</strong></td>
                        <td><strong>1</strong></td>
                        <td><strong>24</strong></td>
                        <td><strong>2</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="caption" style="text-align: right">
                <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Accès à AUDE (activités et pilotage)</u></strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail thbnlHeight">
          <div class="caption">
            <a href="#" ><p style="width: 100%; "><strong>Formation</strong><span class="icon-chevron-right lgIcon" style="float: right"></span></p></a>
          </div>
          <div style="padding: 5px">
            <div class="thumbnail" style="margin-top: 30%;box-shadow: none; background-color: #F2F2F2">
              <div class="thumbnail" style="padding: 15px; background: linear-gradient(141deg, rgba(245,168,200,1) 0%, rgba(199,140,240,0.7777485994397759) 100%);">
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>31</strong></span> Devis AIF à traiter</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>18</strong></span> Parcours <br /> Emploi <br /> Compétences</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>24</strong></span> Bilans de fin de formation</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>7</strong></span> Points d'attention à traiter</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>2</strong></span> Parcours de formation à traiter</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="caption" style="text-align: right">
                <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Accès à AUDE (activités et pilotage)</u></strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail thbnlHeight">
          <div class="caption">
            <a href="#" ><p style="width: 100%; "><strong>Entreprise</strong><span class="icon-chevron-right lgIcon" style="float: right"></span></p></a>
          </div>
          <div style="padding: 5px">
            <div class="thumbnail" style="box-shadow: none; background-color: #F2F2F2">
              <div class="row">
                <div class="col-sm-7 col-md-7">
                  <div class="thumbnail">
                    <div class="caption "><strong>Ressources</strong></div>
                    <div class="row">
                      <div class="col-sm-6 col-md-6">
                        <span style="margin-left: 5px" class="icon-user lgIcon" aria-hidden="true"></span>
                        <span style="font-size: 18px; margin-left: 5px; color: #0072ed"><strong>20</strong></span>
                      </div>
                      <div class="col-sm-6 col-md-6">
                        <span class="icon-calendar lgIcon" aria-hidden="true"></span>
                        <span style="font-size: 18px; margin-left: 5px; color: #0072ed"><strong>23</strong></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="thumbnail" style="padding: 15px; background: linear-gradient(141deg, rgba(157,208,254,1) 0%, rgba(146,161,253,0.7357317927170868) 100%);">
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <div class="caption "><strong>Offres</strong></div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>790</strong></span> Offres en portefeuille</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>23</strong></span> Offres en accompagnement à suivre</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>17</strong></span> Offres internet à valider</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>12</strong></span> Offres en alertes</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <div class="caption "><strong>Espace recrutement</strong></div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>7</strong></span> Espaces à certifier</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>8</strong></span> Espaces à bloquer</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>8</strong></span> Espaces à débloquer</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <div class="caption "><strong>Mails</strong></div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>470</strong></span> Echanges reçus par l'agence</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p><span style="font-size: 24px; "><strong>10</strong></span> Echanges en cours</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="caption" style="text-align: right">
                <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Accès à DUNE</u></strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
