<script>
  $("#showHide2").click(function(event) {
    $(this).find('span').toggleClass('icon-remove');
  });
  $("#showHide3").click(function(event) {
    $(this).find('span').toggleClass('icon-remove');
  });
</script>
<div class="tab-header"><h4><strong>Suivre les activités réalisées<span style="color: #595959"> - Accueil physique et téléphonique</span></strong></h4></div>
<div class="tab-body">
  <div class="col-sm-12 col-md-6">
    <h5 style="color: #595959; margin-bottom: 15px;"><strong>Les réalisations</strong></h5>
    <div class="thumbnail">
      <div class="caption">
        <strong>Filtres</strong>
      </div>
      <div style="padding: 15px">
        <div class="row">
          <div class="col-sm-6 col-md-6"><p>Périodicité:</p>
            <select class="form-control">
              <option value="one">Mois</option>
              <option value="two">Semaine glissante</option>
              <option value="three">Semaine</option>
              <option value="four">Jour</option>
            </select>
          </div>
          <div class="col-sm-6 col-md-6"><p>Choix de la période:</p>
            <select class="form-control">
              <option value="one">1/01 - 31/01</option>
              <option value="two">1/02 - 28/02</option>
              <option value="three">1/03 - 31/03</option>
              <option value="four">1/04 - 30/04</option>
              <option value="five">1/05 - 31/05</option>
              <option value="six">1/06 - 30/06</option>
              <option value="seven">1/07 - 31/07</option>
              <option value="eight">1/08 - 31/08</option>
              <option value="nine">1/09 - 30/09</option>
              <option value="ten">1/10 - 31/10</option>
              <option value="eleven">1/11 - 30/11</option>
              <option value="twelve">1/12 - 31/12</option>
            </select>
            <br />
            <button style="float: right" class="btn">Valider</button>
          </div>
        </div>
      </div>
    </div>
    <div class="thumbnail">
      <div class="caption">
        <strong>Flux physiques</strong>
      </div>
      <div style="padding: 15px">
        <div class="row">
          <div class="col-sm-6 col-md-6" style="text-align: center">
            <p><span style="font-size: 50px; color: #0072ed"><strong>162</strong></span> <br /> Personnes reçues en AIC</p>
            <button id="showHide2" class="btn" style="background-color: transparent; " type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
              <a href="#"><span class="icon-plus-circled" style="font-size: 2em" aria-hidden="true"></span></a>
            </button>
            <div class="collapse" id="collapseExample5">
                <img style="margin-top: 15px; width: 400px !important; height: 25Opx !important" src="css/gfx/suivre/accueil/2.png">
            </div>
          </div>
          <div class="col-sm-6 col-md-6" style="text-align: center">
            <p><span style="font-size: 50px; color: #0072ed"><strong>34</strong></span> <br /> Personnes reçues en ARC indemnisation</p>
            <div class="caption">
              <a href="#"><span class="icon-plus-circled lgIcon" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="thumbnail">
      <div class="caption">
        <strong>Flux téléphonique</strong>
      </div>
      <div style="padding: 15px">
        <div class="row">
          <div class="col-sm-4 col-md-4" style="text-align: center">
            <p><span style="font-size: 50px; color: #0072ed"><strong>71</strong></span> <br /> Appels décrochés 3949 <br /> - file information emploi et formation</p>
            <button id="showHide3" class="btn" style="background-color: transparent; " type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample6">
              <a href="#"><span class="icon-plus-circled" style="font-size: 2em" aria-hidden="true"></span></a>
            </button>
            <div class="collapse" id="collapseExample6">
                <img style="margin-top: 15px; width: 400px !important; height: 25Opx !important" src="css/gfx/suivre/accueil/3.png">
            </div>
          </div>
          <div class="col-sm-4 col-md-4" style="text-align: center">
            <p><span style="font-size: 50px; color: #0072ed"><strong>87</strong></span> <br /> Appels décrochés 3949 <br /> - file information indemnisation</p>
            <div class="caption">
              <a href="#"><span class="icon-plus-circled lgIcon" aria-hidden="true"></span></a>
            </div>
          </div>
          <div class="col-sm-4 col-md-4" style="text-align: center">
            <p><span style="font-size: 50px; color: #0072ed"><strong>62</strong></span> <br /> Appels décrochés 3995 <br /> - file recrutement</p>
            <div class="caption">
              <a href="#"><span class="icon-plus-circled lgIcon" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="thumbnail">
      <div class="caption">
        <strong>Rendez-vous</strong>
      </div>
      <div class="row">
        <div class="col-sm-3 col-md-3" style="text-align: center">
          <p><span style="font-size: 50px; color: #0072ed"><strong>20</strong></span> <br /> ESI réalisés</p>
          <div class="caption">
            <a href="#"><span class="icon-plus-circled lgIcon" aria-hidden="true"></span></a>
          </div>
        </div>
        <div class="col-sm-3 col-md-3" style="text-align: center">
          <p><span style="font-size: 50px; color: #0072ed"><strong>7</strong></span> <br /> PRV réalisés</p>
          <div class="caption">
            <a href="#"><span class="icon-plus-circled lgIcon" aria-hidden="true"></span></a>
          </div>
        </div>
        <div class="col-sm-3 col-md-3" style="text-align: center">
          <p><span style="font-size: 50px; color: #0072ed"><strong>58</strong></span> <br /> GPF réalisés</p>
          <div class="caption">
            <a href="#"><span class="icon-plus-circled lgIcon" aria-hidden="true"></span></a>
          </div>
        </div>
        <div class="col-sm-3 col-md-3" style="text-align: center">
          <p><span style="font-size: 50px; color: #0072ed"><strong>3</strong></span> <br /> Reunions collectives réalisés</p>
          <div class="caption">
            <a href="#"><span class="icon-plus-circled lgIcon" aria-hidden="true"></span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="thumbnail">
      <div class="caption">
        <strong>Personnes reçues</strong>
      </div>
      <div style="padding: 15px">
        <div class="row">
          <div class="col-sm-12 col-md-12" style="text-align: center">
            <p><span style="font-size: 50px; color: #0072ed"><strong>4</strong></span> <br /> Autres RDV individuels réalisés</p>
            <div class="caption">
              <a href="#"><span class="icon-plus-circled lgIcon" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <h5 style="color: #595959; margin-bottom: 15px;"><strong>Performance</strong></h5>
    <div class="thumbnail" style="padding: 15px">
      <div>
        <div class="thumbnail" style="box-shadow: none; background: linear-gradient(320deg,#fce4ed,#ffe8cc)">
          <div class="caption">
            <strong>ICT7 - Taux de premiers paiements dans le délais</strong>
          </div>
          <div style="text-align: center"><span style="font-size: 50px"><u><strong>88%</strong></u></span><p>(Période: Mars 2019)</p></div>
          <div class="caption">
            <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Accéder aux plans d'action</u></strong></a>
          </div>
        </div>
      </div>
      <div>
        <div class="thumbnail" style="box-shadow: none; background: linear-gradient(320deg,#fce4ed,#ffe8cc)">
          <div class="caption">
            <strong>ICT9 - Taux de satisfaction concernant les informations obtenues sur les sujets liés à l'indmnisation</strong>
          </div>
          <div style="text-align: center"><span style="font-size: 50px"><u><strong>92%</strong></u></span><p>(Période: Mars 2019)</p></div>
          <div class="caption">
            <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Accéder aux plans d'action</u></strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
