<script>
  $("#showHide10").click(function(event) {
    $(this).find('span').toggleClass('icon-remove');
  });
  $("#showHide11").click(function(event) {
    $(this).find('span').toggleClass('icon-remove');
  });
</script>

<div class="container-fluid">

  <div class="row">
    <div class="tab-header">
      <h1 class="tab-title">Superviser les activités du jour<span style="color: #595959"> - Accueil physique et téléphonique</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="thumbnail">
          <button class="btn transparent" id="showHide10" style=" width: 100%" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <span class="icon-filters" style="float: left" aria-hidden="true"></span><strong class="primary" style="float: left">Planification de la journée</strong><span class="icon-plus-circled lg-icon" style="float: right" aria-hidden="true"></span>
          </button>
          <div class="collapse thumbnail-body" id="collapseExample">
            <div class="row">
              <div class="col-sm-7">
                <div class="caption"><strong>Rendez-vous de la journée planifiés</strong></div>
                <div class="thumbnail-body">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="row"><strong><span class="font-s primary">30</span> ESI</strong></div>
                      <br />
                      <div class="row"><span class="font-s primary"><strong>30</strong></span> Le matin</div>
                      <div class="row"><span class="font-s primary"><strong>0</strong></span> L'après-midi</div>
                      <div class="row">
                        <br />
                        <div class="caption">
                          <a href="css/gfx/superviser-accueil.png" target="_blank"><span class="icon-link" aria-hidden="true"></span><strong><u>Voir la liste</u></strong></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="row"><strong><span class="font-s primary">12</span> PRV</strong></div>
                      <br />
                      <div class="row"><span class="font-s primary"><strong>12</strong></span> Le matin</div>
                      <div class="row"><span class="font-s primary"><strong>0</strong></span> L'après-midi</div>
                      <div class="row">
                        <br />
                        <div class="caption">
                          <a href="css/gfx/superviser-accueil.png" target="_blank"><span class="icon-link" aria-hidden="true"></span><strong><u>Voir la liste</u></strong></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="row"><strong><span class="font-s primary">80</span> GPF</strong></div>
                          <br />
                          <div class="row"><span class="font-s primary"><strong>76</strong></span> Physique</div>
                          <div class="row"><span class="font-s primary"><strong>42</strong></span> Le matin</div>
                          <div class="row"><span class="font-s primary"><strong>34</strong></span> L'après-midi</div>
                        </div>
                        <div class="col-sm-6">
                          <br />
                          <br />
                          <div class="row"><span class="font-s primary"><strong>4</strong></span> Dématérialisés</div>
                          <div class="row"><span class="font-s primary"><strong>4</strong></span> Le matin</div>
                          <div class="row"><span class="font-s primary"><strong>0</strong></span> L'après-midi</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="caption text-center">
                          <a href="css/gfx/superviser-accueil.png" target="_blank"><span class="icon-link" aria-hidden="true"></span><strong><u>Voir la liste</u></strong></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="row"><strong><span class="font-s primary">3</span> Réunions collectives</strong></div>
                      <br />
                      <div class="row"><span class="font-s primary"><strong>3</strong></span> Le matin</div>
                      <div class="row"><span class="font-s primary"><strong>0</strong></span> L'après-midi</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="caption"><strong>Ressources</strong></div>
                <div>
                  <div class="thumbnail" style="padding: 15px; box-shadow: none; background-color: #F2F2F2">
                    <div class="row">
                      <div class="col-sm-3"><strong>Flux physiques</strong></div>
                      <div class="col-sm-3 text-center"><strong><span class="font-s primary">2</span></strong><span style="margin-left: 15px" class="icon-desktop-screen lg-icon" aria-hidden="true"></span></div>
                      <div class="col-sm-3 text-center"><strong><span class="font-s primary">4</span></strong><span style="margin-left: 15px" class="icon-user lg-icon" aria-hidden="true"></span></div>
                      <div class="col-sm-3 text-center"><strong><span class="font-s primary">5</span></strong><span style="margin-left: 15px" class="icon-calendar lg-icon" aria-hidden="true"></span></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3"><strong>Flux téléphoniques</strong></div>
                      <div class="col-sm-3 text-center"><strong><span class="font-s primary">2</span></strong><span style="margin-left: 15px" class="icon-desktop-screen lg-icon" aria-hidden="true"></span></div>
                      <div class="col-sm-3 text-center"><strong><span class="font-s primary">2</span></strong><span style="margin-left: 15px" class="icon-user lg-icon" aria-hidden="true"></span></div>
                      <div class="col-sm-3 text-center"><strong><span class="font-s primary">2</span></strong><span style="margin-left: 15px" class="icon-calendar lg-icon" aria-hidden="true"></span></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3"><strong>Rendez-vous</strong></div>
                      <div class="col-sm-3 text-center"><strong></strong></div>
                      <div class="col-sm-3 text-center"><strong><span class="font-s primary">12</span></strong><span style="margin-left: 15px" class="icon-user lg-icon" aria-hidden="true"></span></div>
                      <div class="col-sm-3 text-center"><strong><span class="font-s primary">15</span></strong><span style="margin-left: 15px" class="icon-calendar lg-icon" aria-hidden="true"></span></div>
                    </div>
                    <div class="row">
                      <div class="caption">
                        <a href="#"><span class="icon-link" aria-hidden="true"></span><strong><u>Voir la liste</u></strong></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="thumbnail-title">Flux physiques en temps réel</h2>
          <div class="thumbnail thumbnail-rose">
            <div class="row">
              <div class="col-sm-4">
                <div class="caption">
                  <strong>AIC</strong>
                </div>
                <p style=" margin-left: 15px; border-right: 2px solid #fff"><strong><span class="font-m">95</span></strong> <br />Personnes reçues aujourd'hui</p>
              </div>
              <div class="col-sm-8">
                <div class="caption">
                  <strong>ARC</strong>
                </div>
                <div class="col-sm-6"><p><strong><span class="font-m">8</span></strong> <br />Personnes en attente</p></div>
                <div class="col-sm-6"><p><strong><span class="font-m">13:12</span></strong> <br />Attente moyenne</p></div>
                <div class="text-center">
                  <button id="showHide11" class="btn transparent" type="button" data-toggle="collapse" data-target="#collapseExample10" aria-expanded="false" aria-controls="collapseExample10">
                    <span class="icon-plus-circled lg-icon" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse" id="collapseExample10">
        <table class="table table-striped thumbnail text-center font-s">
          <thead>
            <tr>
              <td><strong>Identifiant</strong></td>
              <td><strong>Nom de la personne</strong></td>
              <td><strong>Motif de la solicitation</strong></td>
              <td><strong>Temps d'attente</strong></td>
              <td><strong>Attente estimée</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>12345678A</strong></td>
              <td><strong>Bourdieu Jean-Philippe</strong></td>
              <td><strong>Indus</strong></td>
              <td><strong>48 min</strong></td>
              <td><strong>50 min</strong></td>
            </tr>
            <tr>
              <td><strong>87654321A</strong></td>
              <td><strong>Lecoustey Sabine</strong></td>
              <td><strong>Lorem</strong></td>
              <td><strong>10 min</strong></td>
              <td><strong>12 min</strong></td>
            </tr>
            <tr>
              <td><strong>A81726354</strong></td>
              <td><strong>Pelicier Marie</strong></td>
              <td><strong>Lorem</strong></td>
              <td><strong>3 min</strong></td>
              <td><strong>1 min</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="thumbnail-title"><strong>Rendez-vous programmés en temps réel</strong></p>
          <div class="thumbnail thumbnail-rose">
            <div class="row">
              <div class="col-sm-6">
                <div class="caption">
                  <strong>Personnes en attente</strong>
                </div>
                <div class="col-sm-6"><p><strong><span class="font-m">15</span></strong> <br />Personnes en attente</p></div>
                <div class="col-sm-6"><p style="border-right: 2px solid #fff"><strong><span class="font-m">3</span></strong> <br />Personnes non reçues dans les délais</p></div>
                <div class="text-center"><button class="btn transparent"><span class="icon-plus-circled lg-icon" aria-hidden="true"></span></button></div>
              </div>
              <div class="col-sm-6">
                <div class="caption">
                  <strong>Réalisation en cours</strong>
                </div>
                <div class="col-sm-6"><p><strong><span class="font-m">20</span></strong> <br />Rendez-vous en cours</p></div>
                <div class="col-sm-6"><p><strong><span class="font-m">22</span></strong> <br />Rendez-vous programmez actuellement</p></div>
                <div class="text-center"><button class="btn transparent"><span class="icon-plus-circled lg-icon" aria-hidden="true"></span></button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p class="thumbnail-title"><strong>Réception sans rendez-vous</strong></p>
          <div class="thumbnail thumbnail-rose">
            <div class="row">
              <div class="col-sm-12">
                <div class="caption">
                  <strong>Personnes en attente</strong>
                </div>
                <div class="col-sm-6"><p><strong><span class="font-m">15</span></strong> <br />Personnes en attente</p></div>
                <div class="col-sm-6"><p><strong>Dont: <br /> 3</strong> Employeurs</p></div>
                <div class="caption">
                  <a href="#"><span class="icon-link" aria-hidden="true"></span><strong><u>Voir la liste</u></strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <p class="thumbnail-title"><strong>Flux téléphoniques en temps réel</strong></p>
      <div class="thumbnail">
        <div class="caption">
          <strong>Personnes en attente</strong>
        </div>
        <div class="thumbnail thumbnail-rose">
          <div>
            <div class="caption">
              <strong>3949 - File information emploi et formation</strong>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4"><p><strong><span class="font-m">12</span></strong> <br />Personnes en attente</p></div>
                <div class="col-sm-4"><p><strong><span class="font-m">4</span></strong> <br />En attente estimée dépassée</p></div>
                <div class="col-sm-4"><p><strong><span class="font-m">1:48</span></strong> <br />Attente moyenne</p></div>
              </div>
            </div>
          </div>
          <div>
            <div class="caption">
              <strong>3949 - File information indemnisation</strong>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4"><p><strong><span class="font-m">12</span></strong> <br />Personnes en attente</p></div>
                <div class="col-sm-4"><p><strong><span class="font-m">3</span></strong> <br />En attente estimée dépassée</p></div>
                <div class="col-sm-4"><p><strong><span class="font-m">1:02</span></strong> <br />Attente moyenne</p></div>
              </div>
            </div>
          </div>
          <div class="caption">
            <a href="#"><span class="icon-link" aria-hidden="true"></span><strong><u>Voir la console</u></strong></a>
          </div>
        </div>
        <div class="thumbnail thumbnail-rose">
          <div>
            <div class="caption">
              <strong>3995 - File recrutement</strong>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4"><p><strong><span class="font-m">1</span></strong> <br />Personnes en attente</p></div>
                <div class="col-sm-4"><p><strong><span class="font-m">0</span></strong> <br />En attente estimée dépassée</p></div>
                <div class="col-sm-4"><p><strong><span class="font-m">0:23</span></strong> <br />Attente moyenne</p></div>
              </div>
            </div>
          </div>
          <div class="caption">
            <a href="css/gfx/odigo.png" target="_blank"><span class="icon-link" aria-hidden="true"></span><strong><u>Voir la console</u></strong></a>
          </div>
        </div>
        <div class="caption">
          <strong>Performance</strong><span class="icon-plus-circled lg-icon" style="float: right" aria-hidden="true"></span>
        </div>
      </div>
      <div class="thumbnail">
        <div class="caption">
          <strong>Flux entrants à réponse différée de la journée</strong>
        </div>
        <div class="thumbnail thumbnail-rose" >
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-6"><p><strong><span class="font-m">1</span></strong> <br />Nouvelle fiche cascade</p></div>
              <div class="col-sm-6"><p><strong><span class="font-m">8</span></strong> <br />Nouvelles réclamations</p></div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-6"><p><strong><span class="font-m">1</span></strong> <br />Nouveau message vocal sur flux téléphonique (MEVO)</p></div>
              <div class="col-sm-6"><p><strong><span class="font-m">4</span></strong> <br />Nouveau courriel employeur (EPTICA)</p></div>
            </div>
          </div>
          <div class="caption">
            <a href="#"><strong><u>Superviser tous les flux entrants à réponse différée</u></strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
