<script>
  $("#showHide").click(function(event) {
    $(this).find('span').toggleClass('icon-remove');
  });
  $("#showHide1").click(function(event) {
    $(this).find('span').toggleClass('icon-remove');
  });
</script>

<div class="container-fluid">

  <div class="row">
    <div class="tab-header">
      <h1 class="tab-title">Superviser les activités du jour<span style="color: #595959"> - Flux entrants à réponse différée</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <strong>Filtres</strong>
        </div>
        <div class="row thumbnail-body">
          <div class="col-sm-3"><p>Visualiser les informations sur:</p></div>
          <div class="col-sm-5">
            <select class="form-control">
                <option value="one">Toute l'agence</option>
                <option value="two">Jean BOURDIEU</option>
                <option value="three">Marie PELICIER</option>
                <option value="four">Sabine LECOUSTEY</option>
                <option value="five">Benjamin VACHER</option>
                <option value="six">Olivier KIFFER</option>
            </select>
          </div>
          <div class="col-sm-4">
            <button class="btn">Valider</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <div class="thumbnail thumbnail-green">
        <div class="caption">
          <strong>Message vocal sur flux téléphonique - MEVO</strong>
        </div>
        <div class="thumbnail-body">
          <div class="row">
            <div class="col-sm-6"><p><strong><span class="font-m">8</span> <br /><u>En stock</u></strong></p></div>
          </div>
          <div class="row">
            <div class="col-sm-6"><p><strong>12</strong> Réalisés</p></div>
            <div class="col-sm-6"><p><strong>14</strong> Nouveaux</p></div>
          </div>
          <div class="row">
            <div class="col-sm-12"><p><strong>+ 2</strong> Variation de la journée</p></div>
          </div>
          <hr class="divider" />
          <div class="row">
            <div class="col-sm-6"><p><strong>1</strong> <span>échéance dépassée</span></p></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="thumbnail thumbnail-green" >
        <div class="caption">
          <strong>Fiches escalade</strong>
        </div>
        <div class="thumbnail-body">
          <div class="row">
            <div class="col-sm-6"><a href="css/gfx/superviser-flux.png" target="_blank"><p><strong><span class="font-m">39</span> <br /><u>En stock</u></strong></p></a></div>
          </div>
          <div class="row">
            <div class="col-sm-6"><p><strong>34</strong> Réalisés</p></div>
            <div class="col-sm-6"><p><strong>36</strong> Nouveaux</p></div>
          </div>
          <div class="row">
            <div class="col-sm-12 "><p><strong>- 2</strong> Variation de la journée</p></div>
          </div>
          <hr class="divider" />
          <div class="row">
            <div class="col-sm-12"><p><strong>14</strong> <span>Non affectées</span></p></div>
          </div>
          <div class="row">
            <div class="col-sm-12"><p><strong>1</strong> <span>En échéance dépassée</span></p></div>
          </div>
          <div class="row">
            <div class="col-sm-12"><p><strong>3</strong> <span>En échéance proche</span></p></div>
          </div>
          <div class="caption">
            <a href="css/gfx/superviser-flux.png" target="_blank"><span class="icon-link" aria-hidden="true"></span><strong><u>Accéder à Escalade</u></strong></a>
          </div>
          <div class="text-center">
            <button id="showHide" class="btn transparent" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
              <span class="icon-plus-circled lg-icon" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
        <div class="collapse" id="collapseExample4">
          <div class="caption"><strong>Répartition du stock par motif</strong></div>
          <table class="table table-striped thumbnail text-center font-xs" >
            <thead>
              <tr>
                <td><strong>Famille</strong></td>
                <td><strong>Non affectées</strong></td>
                <td><strong>Dépassées</strong></td>
                <td><strong>En stock</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>IDE</strong></td>
                <td><strong>3</strong></td>
                <td><strong>18</strong></td>
                <td><strong>22</strong></td>
              </tr>
              <tr>
                <td><strong>Placement</strong></td>
                <td><strong>1</strong></td>
                <td><strong>23</strong></td>
                <td><strong>24</strong></td>
              </tr>
              <tr>
                <td><strong>RAC</strong></td>
                <td><strong>8</strong></td>
                <td><strong>7</strong></td>
                <td><strong>15</strong></td>
              </tr>
              <tr>
                <td><strong>Autres</strong></td>
                <td><strong>24</strong></td>
                <td><strong>23</strong></td>
                <td><strong>47</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="thumbnail thumbnail-green" >
        <div class="caption">
          <strong>Courriels employeur - EPTICA</strong>
        </div>
        <div class="thumbnail-body">
          <div class="row">
            <div class="col-sm-6"><p><strong><span class="font-m">12</span> <br /><u>En stock</u></strong></p></div>
          </div>
          <div class="row">
            <div class="col-sm-6"><p><strong>34</strong> Réalisés</p></div>
            <div class="col-sm-6"><p><strong>36</strong> Nouveaux</p></div>
          </div>
          <div class="row">
            <div class="col-sm-12"><p><strong>- 2</strong> Variation de la journée</p></div>
          </div>
          <hr class="divider" />
          <div class="row">
            <div class="col-sm-12"><p><strong>14</strong> <span>Non affectées</span></p></div>
          </div>
          <div class="row">
            <div class="col-sm-12"><p><strong>1</strong> <span>En échéance dépassée</span></p></div>
          </div>
          <div class="row">
            <div class="col-sm-12"><p><strong>3</strong> <span>En échéance proche</span></p></div>
          </div>
          <div class="caption">
            <a href="#"><span class="icon-link" aria-hidden="true"></span><strong><u>Accéder à Eptica</u></strong></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="thumbnail thumbnail-green">
        <div class="caption">
          <strong>Réclamations DE</strong>
        </div>
        <div class="thumbnail-body">
          <div class="row">
            <div class="col-sm-6 "><p><strong><span class="font-m">29</span> <br /><u>En stock</u></strong></p></div>
          </div>
          <div class="row">
            <div class="col-sm-6 "><p><strong>34</strong> Réalisés</p></div>
            <div class="col-sm-6 "><p><strong>36</strong> Nouveaux</p></div>
          </div>
          <div class="row">
            <div class="col-sm-12 "><p><strong>- 2</strong> Variation de la journée</p></div>
          </div>
          <hr class="divider" />
          <div class="row">
            <div class="col-sm-12 "><p><strong>14</strong> <span>Non affectées</span></p></div>
          </div>
          <div class="row">
            <div class="col-sm-12 "><p><strong>1</strong> <span>En échéance dépassée</span></p></div>
          </div>
          <div class="row">
            <div class="col-sm-12"><p><strong>3</strong> <span>En échéance proche</span></p></div>
          </div>
          <div class="caption">
            <a href="#"><span class="icon-link" aria-hidden="true"></span><strong><u>Accéder aux Réclamations</u></strong></a>
          </div>
          <div class="text-center">
            <button id="showHide1" class="btn transparent" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
              <span class="icon-plus-circled lg-icon" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="collapse" id="collapseExample3">
        <div class="caption"><strong>Répartition du stock par motif</strong></div>
        <table class="table table-striped thumbnail text-center font-xs">
          <thead>
            <tr>
              <td><strong>Famille</strong></td>
              <td><strong>Non affectées</strong></td>
              <td><strong>Dépassées</strong></td>
              <td><strong>En stock</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Placement</strong></td>
              <td><strong>3</strong></td>
              <td><strong>18</strong></td>
              <td><strong>22</strong></td>
            </tr>
            <tr>
              <td><strong>Indemnisation</strong></td>
              <td><strong>1</strong></td>
              <td><strong>23</strong></td>
              <td><strong>24</strong></td>
            </tr>
            <tr>
              <td><strong>Gestion de la liste</strong></td>
              <td><strong>8</strong></td>
              <td><strong>7</strong></td>
              <td><strong>15</strong></td>
            </tr>
            <tr>
              <td><strong>Aides et mesures</strong></td>
              <td><strong>24</strong></td>
              <td><strong>23</strong></td>
              <td><strong>47</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
