<script>
  $("#showHide12").click(function(event) {
    $(this).find('span').toggleClass('icon-remove');
  });
</script>

<div class="container-fluid">

  <div class="row">
    <div class="tab-header">
      <h1 class="tab-title">Analyser la performance</h1>
    </div>
  </div>

    <div class="row">
      <h2 class="thumbnail-title">Feuille de route et dialogue de performance</h2>
      <div class="thumbnail thumbnail-body">
        <div class="row">
          <div class="col-sm-6">
            Feuille de route marseille Belle de mai.doc
            <a href="#"><span class="icon-download" aria-hidden="true"></span></a>
          </div>
          <div class="col-sm-4">
            <a href="#"><span class="icon-link" aria-hidden="true"></span>
              <strong><u>Outil de négociation des cibles</u></strong>
            </a>
          </div>
          <div class="col-sm-2">
            <a href="#">
              <span class="icon-link" aria-hidden="true"></span><strong><u>Actu DDP</u></strong>
            </a>
          </div>
        </div>
      </div>
    </div>

      <div class="row">
        <h2 class="thumbnail-title">Les indicateurs prioritaires de l'agence</h2>
        <div class="thumbnail">

          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="thumbnail thumbnail-green" >
                <div class="caption">
                  <strong>ICT5 - Taux de satisfaction des demandeurs d'emploi concernant le suivi dont ils bénéficient</strong>
                </div>
                <div class="text-center"><span class="font-l"><u><strong>87%</strong></u></span><p>(Période: Octobre 2019)</p></div>
                <div class="caption">
                  <button class="btn transparent"><strong class="text-capitalize">Indicateurs d'éclairage</strong><span class="icon-plus-circled" aria-hidden="true"></span></button>
                </div>
                <div class="caption">
                  <a href="#"><span class="icon-link" aria-hidden="true"></span><strong><u>Voir la carte heuristique</u></strong></a>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="thumbnail thumbnail-rose">
                <div class="caption">
                  <strong>ICT7 - Taux des premiers paiements dans les délais</strong>
                </div>
                <div class="text-center"><span class="font-l"><u><strong>88%</strong></u></span><p>(Période: Octobre 2019)</p></div>
                <div class="caption">
                  <button id="showHide12" class="btn transparent" type="button" data-toggle="collapse" data-target="#collapseExample12" aria-expanded="false" aria-controls="collapseExample12">
                    <strong class="text-capitalize">Indicateurs d'éclairage</strong><span class="icon-plus-circled" aria-hidden="true"></span>
                  </button>
                </div>
                <div class="collapse" id="collapseExample12">
                  <div class="row">
                    <div class="col-sm-4"><a href="css/gfx/ict7.png" target="_blank"><p><strong><u><span class="font-m">2j 10h 10mn</span></u></strong></p></a></div>
                    <div class="col-sm-4"><p><i>Données mars 2019</i></p></div>
                    <div class="col-sm-4"><p>Délai moyen de décision manuel entre l'inscription et la décision</p></div>
                  </div>
                </div>
                <div class="caption">
                  <a href="#"><span class="icon-link" aria-hidden="true"></span><strong><u>Voir la carte heuristique</u></strong></a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="thumbnail thumbnail-rose" >
                <div class="caption">
                  <strong>ICT9 - Taux de satisfaction concerntant les informations obtenues sur les sujets liés à l'indemnisation</strong>
                </div>
                <div class="text-center"><span class="font-l"><u><strong>91%</strong></u></span><p>(Période: Octobre 2019)</p></div>
                <div class="caption">
                  <button class="btn transparent"><strong class="text-capitalize">Indicateurs d'éclairage</strong><span class="icon-plus-circled" aria-hidden="true"></span></button>
                </div>
                <div class="caption">
                  <a href="#"><span class="icon-link" aria-hidden="true"></span><strong><u>Voir la carte heuristique</u></strong></a>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="thumbnail thumbnail-blue">
                <div class="caption">
                  <strong>ICT12 - Taux de satisfaction des entreprises vis à vis de leur dernière opération de recrutement</strong>
                </div>
                <div class="text-center"><span class="font-l"><u><strong>91%</strong></u></span><p>(Période: Octobre 2019)</p></div>
                <div class="caption">
                  <button class="btn transparent"><strong class="text-capitalize">Indicateurs d'éclairage</strong><span class="icon-plus-circled" aria-hidden="true"></span></button>
                </div>
                <div class="caption">
                  <a href="#"><span class="icon-link" aria-hidden="true"></span><strong><u>Voir la carte heuristique</u></strong></a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="caption text-right" >
              <a href="css/gfx/SISP.png" target="_blank" style="margin-right: 15px;"><span class="icon-link" aria-hidden="true"></span><strong><u>Accéder au portail Sisp</u></strong></a>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <div class="caption">
              <p><strong>Plans d'action</strong></p>
              <a href="#">
                <span class="icon-link" aria-hidden="true"></span><strong><u>Voir les plans d'actions</u></strong>
              </a>
            </div>
          </div>
        </div>
      </div>

</div>
