<div class="tab-header"><h4><strong>Suivre les activités réalisées<span style="color: #595959"> - Synthèse</span></strong></h4></div>
<div class="tab-body tab5">
  <div class="row display-flex">
    <div class="col-sm-12 col-md-4">
      <div class="thumbnail thbnlHeight">
        <div class="caption">
          <a href="#" ><p style="width: 100%; "><strong>Accueil physique et téléphonique</strong><span class="icon-chevron-right lgIcon" style="float: right"></span></p></a>
        </div>
        <div class="thumbnail" style="box-shadow: none; background-color: #F2F2F2; text-align: center;">
          <div class="thumbnailParent">
            <div class="caption thumbnailCaption"><strong>Réalisations</strong></div>
            <div class="thumbnail" style="text-align: center; box-shadow: none">
              <p><i>Hier</i> <br /> <strong><span style="font-size: 30px">171</span> <br /> Personnes reçues en AIC <br/> <span style="font-size: 30px">30</span> <br /> Personnes reçues an ARC indemnisation</strong></p>
            </div>
          </div>
          <div class="thumbnailParent">
            <div class="caption thumbnailCaption"><strong>Performance</strong></div>
            <div class="thumbnail performance" style="background: linear-gradient(141deg, rgba(255,207,124,1) 0%, rgba(255,135,172,0.7749474789915967) 100%);">
              <p><i>Données du mois d'octobre</i> <br /> <strong> <span style="font-size: 30px">72%</span> <br /> ICT5 <br/> <span style="font-size: 30px">92%</span> <br /> ICT13</strong> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="thumbnail thbnlHeight">
        <div class="caption">
          <a href="#" ><p style="width: 100%; "><strong>Flux entrants à réponse différée</strong><span class="icon-chevron-right lgIcon" style="float: right"></span></p></a>
        </div>
        <div class="thumbnail" style="box-shadow: none; background-color: #F2F2F2; text-align: center">
          <div class="thumbnailParent">
            <div class="caption thumbnailCaption"><strong>Réalisations</strong></div>
            <div class="thumbnail" style="text-align: center; box-shadow: none">
              <p><i>Hier</i> <br /> <strong> <span style="font-size: 30px">7</span> <br /> Message vocal sur flux téléphonique - MEVO <br/> <span style="font-size: 30px">10</span> <br /> Courriels employer - Eptica <br /> <span style="font-size: 30px">15</span> <br /> Réclamations</strong></p>
            </div>
          </div>
          <div class="thumbnailParent">
            <div class="caption thumbnailCaption"><strong>Performance</strong></div>
            <div class="thumbnail performance" style="background: linear-gradient(141deg, rgba(66,217,216,1) 0%, rgba(60,236,180,0.68531162464986) 100%);">
              <p><i>Données du mois d'octobre</i> <br /> <strong> <span style="font-size: 30px">72%</span> <br /> ICT5 <br/> <span style="font-size: 30px">92%</span> <br /> ICT9 <br /> <span style="font-size: 30px">88% </span><br /> ICT12</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="thumbnail thbnlHeight">
        <div class="caption">
          <a href="#" ><p style="width: 100%; "><strong>Indemnisation</strong><span class="icon-chevron-right lgIcon" style="float: right"></span></p></a>
        </div>
        <div class="thumbnail" style="box-shadow: none; background-color: #F2F2F2; text-align: center">
          <div class="thumbnailParent">
            <div class="caption thumbnailCaption"><strong>Réalisations</strong></div>
            <div class="thumbnail" style="text-align: center; box-shadow: none">
              <p><i>Période 17/12 au 23/12</i> <br /> <strong><span style="font-size: 30px">153</span> <br /> DAL traitées sur la semaine précédente <br/> <span style="font-size: 30px">17</span> <br /> Incidents de paiements traités sur la semaine précédente</strong></p>
            </div>
          </div>
          <div class="thumbnailParent">
            <div class="caption thumbnailCaption"><strong>Performance</strong></div>
            <div class="thumbnail performance" style="background: linear-gradient(141deg, rgba(157,208,254,1) 0%, rgba(60,236,180,0.738532913165266) 100%);">
              <p><i>Données du mois d'octobre</i> <br /> <strong><span style="font-size: 30px">72%</span> <br /> ICT7 <br/> <span style="font-size: 30px">92%</span> <br /> ICT9 </strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row display-flex">
    <div class="col-sm-12 col-md-4">
      <div class="thumbnail thbnlHeight">
        <div class="caption">
          <a href="#" ><p style="width: 100%; "><strong>Suivi et accompagnement</strong><span class="icon-chevron-right lgIcon" style="float: right"></span></p></a>
        </div>
        <div class="thumbnail" style="box-shadow: none; background-color: #F2F2F2; text-align: center">
          <div class="thumbnailParent">
            <div class="caption thumbnailCaption"><strong>Réalisations</strong></div>
            <div class="thumbnail" style="text-align: center; box-shadow: none">
              <p><i>Période 17/12 au 23/12</i> <br /> <strong><span style="font-size: 30px">253</span> <br /> DE convoqués en suivi principal <br/> <span style="font-size: 30px">39</span> <br /> ORE contractualisées</strong> </p>
            </div>
          </div>
          <div class="thumbnailParent">
            <div class="caption thumbnailCaption"><strong>Performance</strong></div>
            <div class="thumbnail performance" style="background: linear-gradient(141deg, rgba(249,198,207,1) 0%, rgba(255,161,160,0.6152836134453781) 100%);">
              <p><i>Données du mois d'octobre</i> <br /> <strong><span style="font-size: 30px">72%</span> <br /> ICT1 <br/> <span style="font-size: 30px">92%</span> <br /> ICT6</strong> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="thumbnail thbnlHeight">
        <div class="caption">
          <a href="#" ><p style="width: 100%; "><strong>Formation</strong><span class="icon-chevron-right lgIcon" style="float: right"></span></p></a>
        </div>
        <div class="thumbnail" style="box-shadow: none; background-color: #F2F2F2; text-align: center">
          <div class="thumbnailParent">
            <div class="caption thumbnailCaption"><strong>Réalisations</strong></div>
            <div class="thumbnail" style="text-align: center; box-shadow: none">
              <p><i>Période 17/12 au 23/12</i> <br /> <strong><span style="font-size: 30px">35</span> <br /> Nombre d'entrées en formation <br/> <span style="font-size: 30px">14</span> <br /> Points d'attention traités</strong></p>
            </div>
          </div>
          <div class="thumbnailParent">
            <div class="caption thumbnailCaption"><strong>Performance</strong></div>
            <div class="thumbnail performance" style="background: linear-gradient(141deg, rgba(245,168,200,1) 0%, rgba(199,140,240,0.7777485994397759) 100%);">
              <p><i>Données du mois d'octobre</i> <br /> <strong><span style="font-size: 30px">68%</span> <br /> ICT4 <br/> <span style="font-size: 30px">66%</span> <br /> ICT4bis</strong> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="thumbnail thbnlHeight">
        <div class="caption">
          <a href="#" ><p style="width: 100%; "><strong>Entreprise</strong><span class="icon-chevron-right lgIcon" style="float: right"></span></p></a>
        </div>
        <div class="thumbnail" style="box-shadow: none; background-color: #F2F2F2; text-align: center">
          <div class="thumbnailParent">
            <div class="caption thumbnailCaption"><strong>Réalisations</strong></div>
            <div class="thumbnail" style="text-align: center; box-shadow: none">
              <p><i>Hier</i> <br /> <strong><span style="font-size: 30px">54</span> <br /> Offres cloturées <br/> <span style="font-size: 30px">71</span> <br /> Contacts réalisés</strong></p>
            </div>
          </div>
          <div class="thumbnailParent">
            <div class="caption thumbnailCaption"><strong>Performance</strong></div>
            <div class="thumbnail performance" style="background: linear-gradient(141deg, rgba(115,176,255,1) 0%, rgba(156,230,239,0.7441351540616247) 100%);">
              <p><i>Données du mois d'octobre </i><br /> <strong><span style="font-size: 30px">72%</span> <br /> ICT10 <br/> <span style="font-size: 30px">82%</span> <br /> ICT11 <br /> <span style="font-size: 30px">83%</span> <br /> ICT12</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
