<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$("#sidebar-menu ul.nav li.with-sub li a").click(function() {
  $("#sidebar-menu ul.nav li.with-sub li a").removeClass("active");
  $("#sidebar-menu ul.nav li.without-sub a").removeClass("active");
  $(this).addClass('active');
  $("#sidebar-menu ul.nav li.with-sub a.sidebar-nav-link").removeClass("active");
  $(this).parent().parent().parent().find('a.sidebar-nav-link').addClass('active');
});
</script>
<script>
$("#sidebar-menu ul.nav li.without-sub a").click(function() {
  $("#sidebar-menu ul.nav li.without-sub a").removeClass("active");
  $("#sidebar-menu ul.nav li.with-sub li a").removeClass("active");
  $("#sidebar-menu ul.nav li.with-sub a.sidebar-nav-link").removeClass("active");
  $(this).addClass('active');
});
</script>

<div class="sidebar" id="sidebar-menu">
  <ul class="nav nav-sidebar">

    <li class="sidebar-nav-item without-sub">
      <a href="#1" class="sidebar-nav-link active" role="tab" data-toggle="tab" ><span class="icon-home lg-icon" aria-hidden="true"></span><br />Mon tableau de bord</a>
    </li>
    <li class="sidebar-nav-item without-sub">
      <a href="#2" class="sidebar-nav-link" role="tab" data-toggle="tab"><span class="icon-wa-infomarche lg-icon" aria-hidden="true"></span><br />Analyser la performance</a>
    </li>
    <li class="sidebar-nav-item without-sub">
      <a href="#3" class="sidebar-nav-link" role="tab" data-toggle="tab"><span class="icon-calendar lg-icon" aria-hidden="true"></span><br />Prévoir et planifier</a>
    </li>

    <li class="sidebar-nav-item with-sub">
      <a href="#" class="sidebar-nav-link"><span class="icon-niveau lg-icon" aria-hidden="true"></span> <br /> Superviser les activités du jour</a>
      <ul class="nav sidebar-nav-sub text-left">
        <li class="nav-sub-item"><a href="#40" role="tab" data-toggle="tab" class="nav-sub-link">Synthèse</a></li>
        <li class="nav-sub-item"><a href="#41" role="tab" data-toggle="tab" class="nav-sub-link">Accueil physique et téléphonique</a></li>
        <li class="nav-sub-item"><a href="#42" role="tab" data-toggle="tab" class="nav-sub-link">Flux entrants à réponse différée</a></li>
        <li class="nav-sub-item"><a href="#43" role="tab" data-toggle="tab" class="nav-sub-link">Indemnisation</a></li>
        <li class="nav-sub-item"><a href="#" class="nav-sub-link">Suivi et accompagnement</a></li>
        <li class="nav-sub-item"><a href="#" class="nav-sub-link">Formation</a></li>
        <li class="nav-sub-item"><a href="#" class="nav-sub-link">Entreprise</a></li>
      </ul>
    </li>

    <li class="sidebar-nav-item with-sub">
      <a href="#" class="sidebar-nav-link"><span class="icon-wa-loupe lg-icon" aria-hidden="true"></span> <br /> Suivre les activités realisées</a>
      <ul class="nav sidebar-nav-sub text-left">
        <li class="nav-sub-item"><a href="#50" role="tab" data-toggle="tab" class="nav-sub-link">Synthèse</a></li>
        <li class="nav-sub-item"><a href="#51" role="tab" data-toggle="tab" class="nav-sub-link">Accueil physique et téléphonique</a></li>
        <li class="nav-sub-item"><a href="#52" role="tab" data-toggle="tab" class="nav-sub-link">Flux entrants à réponse différée</a></li>
        <li class="nav-sub-item"><a href="#53" role="tab" data-toggle="tab" class="nav-sub-link">Indemnisation</a></li>
        <li class="nav-sub-item"><a href="#" class="nav-sub-link">Suivi et accompagnement</a></li>
        <li class="nav-sub-item"><a href="#" class="nav-sub-link">Formation</a></li>
        <li class="nav-sub-item"><a href="#" class="nav-sub-link">Entreprise</a></li>
      </ul>
    </li>
  </ul>
</div>
