<script>
  $("#showHide4").click(function(event) {
    $(this).find('span').toggleClass('icon-remove');
  });
</script>
<div class="tab-header"><h4><strong>Suivre les activités réalisées<span style="color: #595959"> - Flux entrants à réponse différée</span></strong></h4></div>
<div class="tab-body">
  <div class="col-sm-12 col-md-6">
    <p style="color: #595959; margin-bottom: 15px;"><strong>Les réalisations</strong></p>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
          <div class="caption">
            <strong>Filtres</strong>
          </div>
          <div style="padding: 15px">
            <div class="row">
              <div class="col-sm-6 col-md-6"><p>Périodicité:</p>
                <select class="form-control">
                  <option value="one">Mois</option>
                  <option value="two">Semaine glissante</option>
                  <option value="three">Semaine</option>
                  <option value="four">Jour</option>
                </select>
              </div>
              <div class="col-sm-6 col-md-6"><p>Choix de la période:</p>
                <select class="form-control">
                  <option value="one">1/01 - 31/01</option>
                  <option value="two">1/02 - 28/02</option>
                  <option value="three">1/03 - 31/03</option>
                  <option value="four">1/04 - 30/04</option>
                  <option value="five">1/05 - 31/05</option>
                  <option value="six">1/06 - 30/06</option>
                  <option value="seven">1/07 - 31/07</option>
                  <option value="eight">1/08 - 31/08</option>
                  <option value="nine">1/09 - 30/09</option>
                  <option value="ten">1/10 - 31/10</option>
                  <option value="eleven">1/11 - 30/11</option>
                  <option value="twelve">1/12 - 31/12</option>
                </select>
                <br />
                <button style="float: right" class="btn">Valider</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="thumbnail">
          <div class="caption">
            <strong>Message vocal sur flux téléphonique - MEVO</strong>
          </div>
          <div style="padding: 15px">
            <div class="row">
              <div class="col-sm-12 col-md-12" style="text-align: center">
                <p><span style="font-size: 50px; color: #0072ed"><strong>54</strong></span> <br /> Messages traités</p>
                <div class="caption">
                  <button id="showHide4" class="btn" style="background-color: transparent; " type="button" data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample7">
                    <a href="#"><span class="icon-plus-circled" style="font-size: 2em" aria-hidden="true"></span></a>
                  </button>
                  <br /> <u>Contribution</u>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="thumbnail">
          <div class="caption">
            <strong>Réclamation</strong>
          </div>
          <div style="padding: 15px">
            <div class="row">
              <div class="col-sm-12 col-md-12" style="text-align: center">
                <p><span style="font-size: 50px; color: #0072ed"><strong>84</strong></span> <br /> Réclamations traités</p>
                <div class="caption">
                  <a href="#"><span class="icon-plus-circled lgIcon" aria-hidden="true"></span></a>
                  <br /> <u>Contribution</u>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseExample7">
      <div style="padding: 5px; background-color: #fff; border-radius: 8px; text-align: center; margin-bottom: 15px">
        <img style="margin-top: 15px; width: 400px !important; height: 25Opx !important" src="css/gfx/suivre/flux/1.png">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="thumbnail">
          <div class="caption">
            <strong>Courriels employeur - Eptica</strong>
          </div>
          <div style="padding: 15px">
            <div class="row">
              <div class="col-sm-12 col-md-12" style="text-align: center">
                <p><span style="font-size: 50px; color: #0072ed"><strong>21</strong></span> <br /> Courriels traités</p>
                <div class="caption">
                  <a href="#"><span class="icon-plus-circled lgIcon" aria-hidden="true"></span></a>
                  <br /> <u>Contribution</u>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <p style="color: #595959; margin-bottom: 15px;"><strong>Performance</strong></p>
    <div class="thumbnail" style="padding: 15px">
      <div>
        <div class="thumbnail" style="box-shadow: none; background: linear-gradient(141deg, rgba(66,217,216,1) 0%, rgba(60,236,180,0.68531162464986) 100%);">
          <div class="caption">
            <strong>ICT5 - Taux de satisfaction des demandeurs d'emploi concernant le suivi dont ils bénéficient</strong>
          </div>
          <div style="text-align: center"><span style="font-size: 50px"><u><strong>75%</strong></u></span><p>(Période: Mars 2019)</p></div>
          <div class="caption"><a href="#"><strong>Indicateurs d'éclairage</strong><span class="icon-plus-circled" style="margin-left: 5px" aria-hidden="true"></span></a></div>
          <div class="caption">
            <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Accéder aux plans d'action</u></strong></a>
          </div>
        </div>
      </div>
      <div>
        <div class="thumbnail" style="box-shadow: none; background: linear-gradient(141deg, rgba(66,217,216,1) 0%, rgba(60,236,180,0.68531162464986) 100%);">
          <div class="caption">
            <strong>ICT9 - Taux de satisfaction concernant les informations obtenues sur les sujets liés à l'indmnisation</strong>
          </div>
          <div style="text-align: center"><span style="font-size: 50px"><u><strong>80%</strong></u></span><p>(Période: Mars 2019)</p></div>
          <div class="caption"><a href="#"><strong>Indicateurs d'éclairage</strong><span class="icon-plus-circled" style="margin-left: 5px" aria-hidden="true"></span></a></div>
          <div class="caption">
            <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Accéder aux plans d'action</u></strong></a>
          </div>
        </div>
      </div>
      <div>
        <div class="thumbnail" style="box-shadow: none; background: linear-gradient(141deg, rgba(66,217,216,1) 0%, rgba(60,236,180,0.68531162464986) 100%);">
          <div class="caption">
            <strong>ICT12 - Taux de satisfaction des demandeurs d'emploi vis à vis des services numériques</strong>
          </div>
          <div style="text-align: center"><span style="font-size: 50px"><u><strong>82%</strong></u></span><p>(Période: Mars 2019)</p></div>
          <div class="caption"><a href="#"><strong>Indicateurs d'éclairage</strong><span class="icon-plus-circled" style="margin-left: 5px" aria-hidden="true"></span></a></div>
          <div class="caption">
            <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Accéder aux plans d'action</u></strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
