<div class="tab-header"><h4><strong>Analyser la performance</strong></h4></div>
<div class="tab-body tab2">
  <div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h5 style="color: #595959; margin-bottom: 15px;"><strong>Feuille de route et dialogue de performance</strong></h5>
        <div class="thumbnail">
          <div class="caption">
            <h5 style="display: inline-block; margin-right: 5px; float: left"><strong>Feuille de route marseille Belle de mai.doc</strong></h5>
            <a href="#" style=" margin-right: 35%;"><span class="icon-download" aria-hidden="true"></span></a>
            <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><h5 style="display: inline-block;"><strong><u>Outil de négociation des cibles</u></strong></h5></a>
            <h5 style="float: right;">
              <a href="#">
                <span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Actu DDP</u></strong>
              </a>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h5 style="color: #595959; margin-bottom: 15px; float: left"><strong>Les indicateurs prioritaires de l'agence</strong></h5>

        <div class="thumbnail" style="padding: 15px; clear: both">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="thumbnail" style="box-shadow: none; background: linear-gradient(141deg, rgba(115,176,255,1) 0%, rgba(156,230,239,0.7441351540616247) 100%);">
                <div class="caption">
                  <strong>ICT5 - Taux de satisfaction des demandeurs d'emploi concernant le suivi dont ils bénéficient</strong>
                </div>
                <div style="text-align: center"><span style="font-size: 50px"><u><strong>87%</strong></u></span><p>(Période: Octobre 2019)</p></div>
                <div class="caption"><a href="#"><strong>Indicateurs d'éclairage</strong><span class="icon-plus-circled" style="margin-left: 5px" aria-hidden="true"></span></a></div>
                <div class="caption">
                  <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Voir la carte heuristique</u></strong></a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="thumbnail" style="box-shadow: none; background: linear-gradient(320deg,#fce4ed,#ffe8cc)">
                <div class="caption">
                  <strong>ICT7 - Taux des premiers paiements dans les délais</strong>
                </div>
                <div style="text-align: center"><span style="font-size: 50px"><u><strong>88%</strong></u></span><p>(Période: Octobre 2019)</p></div>
                <div class="caption"><a href="#"><strong>Indicateurs d'éclairage</strong><span class="icon-plus-circled" style="margin-left: 5px" aria-hidden="true"></span></a></div>
                <div class="caption">
                  <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Voir la carte heuristique</u></strong></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="thumbnail" style="box-shadow: none; background: linear-gradient(320deg,#fce4ed,#ffe8cc)">
                <div class="caption">
                  <strong>ICT9 - Taux de satisfaction concerntant les informations obtenues sur les sujets liés à l'indemnisation</strong>
                </div>
                <div style="text-align: center"><span style="font-size: 50px"><u><strong>91%</strong></u></span><p>(Période: Octobre 2019)</p></div>
                <div class="caption"><a href="#"><strong>Indicateurs d'éclairage</strong><span class="icon-plus-circled" style="margin-left: 5px" aria-hidden="true"></span></a></div>
                <div class="caption">
                  <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Voir la carte heuristique</u></strong></a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="thumbnail" style="box-shadow: none; background: linear-gradient(141deg, rgba(115,176,255,1) 0%, rgba(156,230,239,0.7441351540616247) 100%);">
                <div class="caption">
                  <strong>ICT9 - Taux de satisfaction concerntant les informations obtenues sur les sujets liés à l'indemnisation</strong>
                </div>
                <div style="text-align: center"><span style="font-size: 50px"><u><strong>91%</strong></u></span><p>(Période: Octobre 2019)</p></div>
                <div class="caption"><a href="#"><strong>Indicateurs d'éclairage</strong><span class="icon-plus-circled" style="margin-left: 5px" aria-hidden="true"></span></a></div>
                <div class="caption">
                  <a href="#"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Voir la carte heuristique</u></strong></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="caption" style="text-align: right">
              <a href="css/gfx/SISP.png" target="_blank"><span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Accéder au portail Sisp</u></strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h5><strong>Plans d'actions</strong></h5>
            <p>
              <a href="#">
                <span class="icon-link" style="margin-right: 5px" aria-hidden="true"></span><strong><u>Voir les plans d'actions</u></strong>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
